<div ng-include src="'/templates/navigation.html'"></div>
<div class="pg-title">
	<div class="valign">
		Everything you need to craft delicious food
	</div>
</div>
<div class="container learn">
	<div class="bcrumb">
		<a href="#/">Home</a>
		<span>  /  </span>
		<span> <a href="#/products">Starter Kits</a></span>
		<span>  /  </span>
		<span>Cheese Starter Kit</span>		 
	</div>
	<div class="kit-includes row">
		<div class="col-md-6">
 			<div class="row">
	 			<img class="img-responsive" src="images/p-cheese.jpg"/>			
 			</div>
 			<div class="row included-items">
 				<div class="col-xs-6 col-sm-6 col-md-6"><img class="img-responsive center-block" src="images/p-box.jpg"/></div>
 				<div class="col-xs-6 col-sm-6 col-md-6"><img class="img-responsive center-block" src="images/p-packet.jpg"/></div> 				
 			</div>
		</div>
		<div class="col-md-6">
			<div class="product-indent">
				<h3>Imamu Cheese Starter Kit</h3>
				<div class="contains">
					<p>Every kit comes with:</p>
					<p>Starter culture and rennet</p>
					<p>Recipe and instruction booklet</p>
					<p class="product-description">The joys of healthy, homemade cheese! Our Cheese Starter kit gives you everything you need to start creating your own amazing cheeses. Included are step by step instructions with ideas and techniques to help you experiment with all kinds of textures and flavors.
					</p>
					<div class="product-price">
						<span>$40</span>
						<p><a class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Reserve My Kit</a></p>  
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header text-center">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Reserve your starter kit</h4>
	        <p>We'll let you know as soon as it becomes available</p>
	        <p>No credit card required for reservation</p>
	      </div>
	      <div class="modal-body">
	        <form id="email-form" novalidate>
  				<input id="email-input" class="form-control" type="email" ng-model="user.email" placeholder="Enter your email" autofocus/>

			</form>
	      </div>
	      <div class="modal-footer">
	        <input class="btn btn-primary" id="signup-button" type="submit" ng-click="createUser(user)" value="SUBMIT" />
	      </div>
	    </div>
	  </div>
	</div>

	<div class="other-kits">
		<p>Other kits you might enjoy</p>
		<div class="row">
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-kombucha.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#/kombucha" role="button">Make this</a></p>  
				<h4>Kombucha</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-cider.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#/cider" role="button">Make this</a></p>  
				<h4>Cider</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-cheese.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#/cheese" role="button">Make this</a></p>  
				<h4>Cheese</h4>
			</div>
		</div>
	</div>	
	</div>
</div>
<div ng-include src="'/templates/footer.html'"></div>