<div ng-include src="'/templates/navigation.html'"></div>
<!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Imamu is a collaborative food innovation platform.</h1>
        <p>We make it easy for you to experiment, create and sell your own unique food creations.</p>
        <p><a class="btn btn-primary btn-lg" href="#/products" role="button">Starter Kits &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 section-link">
          <a href="#/learn">
            <img class="img-responsive" src="images/h-learn.jpg"/>
            <div>
              <h2>Learn more about creating your own food</h2>
              <p><a class="btn btn-default" href="#/learn" role="button">HOW TO</a></p>  
            </div>
          </a>
        </div>
        <div class="col-md-4 section-link">
          <a href="#/products">
            <img class="img-responsive" src="images/h-starter-kit.png"/>
            <div>
              <h2>Get started by purchasing a starter kit.</h2>
              <p><a class="btn btn-default" href="#/products" role="button">STARTER KITS</a></p>  
            </div>
          </a>
       </div>
        <div class="col-md-4 section-link">
          <a href="#/marketplace">
            <img class="img-responsive" src="images/h-market.jpg"/>
            <div>
              <h2>Buy food creations from other local Imamu community members.</h2>
              <p><a class="btn btn-default" href="#/marketplace" role="button">MARKETPLACE</a></p>  
            </div>
          </a>
      </div>
      <hr>
    </div> <!-- /container -->
  </div>

<div ng-include src="'/templates/footer.html'"></div>

