<div ng-include src="'/templates/navigation.html'"></div>
<!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Imamu is a collaborative food innovation platform.</h1>
        <p>We make it easy for you to experiment, create and sell your own unique food creations.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Starter Kits &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 section-link">
          <a href="">
            <img class="img-responsive" src="images/stock-photo.jpg"/>
            <div>
              <h2>Learn more about creating your own food</h2>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>  
            </div>
          </a>
        </div>
        <div class="col-md-4 section-link">
          <a href="">
            <img class="img-responsive" src="images/stock-photo.jpg"/>
            <div>
              <h2>Learn more about creating your own food</h2>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>  
            </div>
          </a>
       </div>
        <div class="col-md-4 section-link">
          <a href="">
            <img class="img-responsive" src="images/stock-photo.jpg"/>
            <div>
              <h2>Learn more about creating your own food</h2>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>  
            </div>
          </a>
      </div>

      <hr>

      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
