<div ng-include src="'/templates/navigation.html'"></div>
<div class="pg-title">
	<div class="valign">
		Recipes, tips, and ideas
	</div>
</div>
<div class="container learn">
	<div class="bcrumb">
		<a href="#/">Home</a>
		<span>  /  </span>
		<span>How To</span> 
	</div>
	<div class="indent-block">
		<h2>
			Learn how to make kimchi at home
		</h2>
		<div class="embed-responsive embed-responsive-16by9">
	  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_kEvwNGomvg"></iframe>
		</div>
		<div class="learn-content">
			<p>
			Baechu, or napa cabbage, kimchi is made by lacto-fermentation, the same process that creates sauerkraut and traditional dill pickles. In the first stage, the cabbage is soaked in a salty brine that kills off harmful bacteria. In the second stage, the remaining Lactobacillus bacteria (the good guys!) convert sugars into lactic acid, which preserves the vegetables and gives them that wonderful, tangy flavor. (If you want to learn more about fermentation, I highly recommend The Art of Fermentation by Sandor Katz.)
			</p>
			<p>
			While questioning my Korean family and friends about kimchi, I have received all kinds of opinions. Some cooks swear by a little bit of sugar, others completely shun sweeteners. There are people who include carrots and there are people who wrinkle their noses at the idea. I'm a vegetarian and my mother-in-law happily makes fish- and shrimp-free kimchi for me, but I'm sure some would consider it blasphemy to leave out the seafood. (I like adding a bit of kelp powder for umami flavor.)
			</p>
			<p>
			This can be confusing, but I think it's actually a good thing. It means that you and your family can make kimchi your own. Rely on your own sense of smell and taste and you'll end up with a fine batch. Two words of caution from my mother-in-law, however: too much garlic can make the kimchi bitter, and too much ginger can make it sticky. As for the gochugaru, or red pepper powder, adjust the amount to your liking. Kimchi can be mild or fiery, it's your choice.
			</p>
		</div>
		<div class="recipe">
			<p class="section-title">
				<h4>How to Make Cabbage Kimchi</h4>
				<p>Makes 1 quart</p>
			</p>
			<p><a class="btn btn-default" href="#/kimchi" role="button">Use our kimchi starter kit</a></p>
			<div class="recipe-body">
				<div class="recipe-section">
					<p>What you need</p>
					<div>
						Ingredients<br/>
						1 medium head (2 pounds) napa cabbage<br/>
						1/4 cup sea salt or kosher salt (see Recipe Notes)<br/>
						Water (see Recipe Notes)<br/>
						1 tablespoon grated garlic (5 to 6 cloves)<br/>
						1 teaspoon grated ginger<br/>
						1 teaspoon sugar<br/>
						2 to 3 tablespoons seafood flavor or water (optional, see Recipe Notes)<br/>
						1 to 5 tablespoons Korean red pepper flakes (gochugaru)<br/>
						8 ounces Korean radish or daikon, peeled and cut into matchsticks<br/>
						4 scallions, trimmed and cut into 1-inch pieces<br/>

					</div>
				</div>
				<div class="recipe-section">
					<div>
						Equipment<br/>
						Cutting board and knife<br/>
						Large bowl<br/>
						Gloves (optional but highly recommended)<br/>
						Plate and something to weigh the kimchi down, like a jar or can of beans<br/>
						Colander<br/>
						Small bowl<br/>
						Clean 1-quart jar with canning lid or plastic lid <br/>
						Bowl or plate to place under jar during fermentation<br/>
					</div>
				</div>			
				<div class="recipe-section">
					<p>Instructions</p>
					<div>
						Slice the cabbage: Cut the cabbage lengthwise into quarters and remove the cores. Cut each quarter crosswise into 2-inch-wide strips.
						Salt the cabbage: Place the cabbage and salt in a large bowl. Using your hands (gloves optional), massage the salt into the cabbage until it starts to soften a bit, then add water to cover the cabbage. Put a plate on top and weigh it down with something heavy, like a jar or can of beans. Let stand for 1 to 2 hours.<br/>
						Rinse and drain the cabbage: Rinse the cabbage under cold water 3 times and drain in a colander for 15 to 20 minutes. Rinse and dry the bowl you used for salting, and set it aside to use in step 5.
						Make the paste: Meanwhile, combine the garlic, ginger, sugar, and seafood flavor (or 3 tablespoons water) in a small bowl and mix to form a smooth paste. Mix in the gochugaru, using 1 tablespoon for mild and up to 5 tablespoons for spicy (I like about 3 1/2 tablespoons).<br/>
						Combine the vegetables and paste: Gently squeeze any remaining water from the cabbage and return it to the bowl along with the radish, scallions, and seasoning paste.<br/>
						Mix thoroughly: Using your hands, gently work the paste into the vegetables until they are thoroughly coated. The gloves are optional here but highly recommended to protect your hands from stings, stains, and smells!<br/>
						Pack the kimchi into the jar: Pack the kimchi into the jar, pressing down on it until the brine rises to cover the vegetables. Leave at least 1 inch of headspace. Seal the jar with the lid.<br/>
						Let it ferment: Let the jar stand at room temperature for 1 to 5 days. You may see bubbles inside the jar and brine may seep out of the lid; place a bowl or plate under the jar to help catch any overflow.
						Check it daily and refrigerate when ready: Check the kimchi once a day, pressing down on the vegetables with a clean finger or spoon to keep them submerged under the brine. (This also releases gases produced during fermentation.) Taste a little at this point, too! When the kimchi tastes ripe enough for your liking, transfer the jar to the refrigerator. You may eat it right away, but it's best after another week or two.<br/>
						Recipe Notes<br/>
						Salt: Use salt that is free of iodine and anti-caking agents, which can inhibit fermentation.<br/>
						Water: Chlorinated water can inhibit fermentation, so use spring, distilled, or filtered water if you can.<br/>
						Seafood flavor and vegetarian alternatives: Seafood gives kimchi an umami flavor. Different regions and families may use fish sauce, salted shrimp paste, oysters, and other seafood. Use about 2 tablespoons of fish sauce, salted shrimp paste, or a combination of the two. For vegetarian kimchi, I like using 3/4 teaspoon kelp powder mixed with 3 tablespoons water, or simply 3 tablespoons of water. 

					</div>
				</div>	

			</div>
		</div>
		<div class="use-kit">
			<p class="section-title">
				<h4>Use our Imamu Kimchi Starter Kit</h4>
				<p>Makes 1 quart</p>
	 			<img class="img-responsive" src="images/p-kimchi.jpg"/>			
			</p>
			<img src=""/>
				<div class="recipe-section">
					<p>Our Kimchi Starter Kit comes with the following items</p>
					<div>
						Our Kimchi Starter Kit comes witht he following items:<br/>
						Two packets of kimichi paste (Gochugaru)<br/>
						2 qt. Glass jar<br/>
						Fermentation lock lid<br>
						Recipe and instruction booklet<br/>
					</div>
				</div>					

			<p><a class="btn btn-default" href="#/kimchi" role="button">Use our kimchi starter kit</a></p>
		</div>		

	</div>

</div>
<div ng-include src="'/templates/footer.html'"></div>
