<div ng-include src="'/templates/navigation.html'"></div>
<div class="pg-title">
	<div class="valign">
		Recipes, tips, and ideas
	</div>
</div>
<div class="container learn">
	<div class="bcrumb">
		<a>Home</a>
		<span>  /  </span>
		<span>How To</span> 
	</div>
	<div class="indent-block">
		<h2>
			Learn how to make kimchi at home
		</h2>
		<div class="embed-responsive embed-responsive-16by9">
	  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_kEvwNGomvg"></iframe>
		</div>
		<div class="learn-content">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="recipe">
			<p class="section-title">
				<h4>How to Make Cabbage Kimchi</h4>
				<p>Makes 1 quart</p>
			</p>
			<p><a class="btn btn-default" href="#" role="button">Use our kimchi starter kit</a></p>
			<div class="recipe-body">
				<div class="recipe-section">
					<p>What you need</p>
					<div>
						Ingredients <br/>
						Ingredients <br/>
					</div>
				</div>
				<div class="recipe-section">
					<p>Equipment</p>
					<div>
						Equipment <br/>
						Equipment <br/>
					</div>
				</div>			
				<div class="recipe-section">
					<p>Instructions</p>
					<div>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>	

			</div>
		</div>
		<div class="use-kit">
			<p class="section-title">
				<h4>Use our Imamu Kimchi Starter Kit</h4>
				<p>Makes 1 quart</p>
			</p>
			<img src=""/>
				<div class="recipe-section">
					<p>Our Kimchi Starter Kit comes with the following items</p>
					<div>
						Equipment <br/>
						Equipment <br/>
					</div>
				</div>					

			<p><a class="btn btn-default" href="#" role="button">Use our kimchi starter kit</a></p>
		</div>		

	</div>

</div>