<div ng-include src="'/templates/navigation.html'"></div>
<div class="pg-title">
	<div class="valign">
		Starter Kits
	</div>
</div>
<div class="container products">
	<div class="bcrumb">
		<a>Home</a>
		<span>  /  </span>
		<span>Starter Kits</span> 
	</div>
	<h2>
		Every Imamu box comes with all of the ingredients & materials you need to make top shelf fermented foods at home.
	</h2>

	<div class="row">
		<div class="col-md-4 text-center product-icon">
			<div>
				<img class="center-block valign" src="images/icon-supplies.png"/>
			</div>
			<p>All The Necessary Supplies</p>
			<p>Your Imamu box comes with everything you’ll need to craft delicious fermented foods</p>
		</div>
		<div class="col-md-4 text-center product-icon">
			<div>
				<img class="center-block valign" src="images/icon-ingredients.png"/>
			</div>
			<p>Quality Ingredients</p>
			<p>Imamu boxes are shipped right to your door, no need for a trip to the grocery</p>
		</div>
		<div class="col-md-4 text-center product-icon">
			<div>
				<img class="center-block valign" src="images/icon-delivery.png"/>
			</div>				
			<p>Delivered To Your Home</p>
			<p>Your Imamu box comes with everything you’ll need to craft delicious fermented foods</p>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-yogurt.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Yogurt</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-pickles.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Pickles</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-kimchi.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Kimchi</h4>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-kombucha.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Kombucha</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-cider.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Cider</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-cheese.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Cheese</h4>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-kefir.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Kefir</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-tempeh.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Tempeh</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-sauerkraut.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#" role="button">Make this</a></p>  
				<h4>Sauerkraut</h4>
			</div>
		</div>
	</div>				
</div>	