<div ng-include src="'/templates/navigation.html'"></div>
<div class="pg-title">
	<div class="valign">
		Everything you need to craft delicious food
	</div>
</div>
<div class="container learn">
	<div class="bcrumb">
		<a>Home</a>
		<span>  /  </span>
		<span>Products</span>
		<span>  /  </span>
		<span>Yogurt Starter Kit</span>		 
	</div>
	<div class="kit-includes row">
		<div class="col-md-6">
 			<div class="row">
	 			<img class="img-responsive" src="images/p-yogurt.jpg"/>			
 			</div>
 			<div class="row included-items">
 				<div class="col-md-4"><img class="img-responsive center-block" src="images/p-smallbox.png"/></div>
 				<div class="col-md-4"><img class="img-responsive center-block" src="images/p-largejar.jpg"/></div>
 				<div class="col-md-4"><img class="img-responsive center-block" src="images/p-packet.jpg"/></div> 				
 			</div>
		</div>
		<div class="col-md-6">
			<h3>Imamu Yogurt Starter Kit</h3>
			<div class="contains">
				<p>Every kit comes with:</p>
				<p>Something</p>
				<p>Something</p>
				<p>Something</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="product-price">
					<span>$50</span>
					<p><a class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal">Make this</a></p>  
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header text-center">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Reserve your starter kit</h4>
	        <p>We'll let you know as soon as it becomes available</p>
	        <p>No credit card required for reservation</p>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="other-kits">
		<div class="row">
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-kombucha.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#/kombucha" role="button">Make this</a></p>  
				<h4>Kombucha</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-cider.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#/cider" role="button">Make this</a></p>  
				<h4>Cider</h4>
			</div>
		</div>
		<div class="col-md-4 item-listing">
            <img class="img-responsive" src="images/pl-cheese.jpg"/>
			<div>
				<p><a class="btn btn-default" href="#/cheese" role="button">Make this</a></p>  
				<h4>Cheese</h4>
			</div>
		</div>
	</div>	
	</div>
</div>