<div ng-include src="'/templates/clean_nav.html'"></div>
<div class="pg-title">
	<div class="valign">
		New York
	</div>
</div>
<div class="container products">
	<div class="bcrumb">
		<a href="#/">Home</a>
		<span>  /  </span>
		<span>Community Marketplace</span> 
	</div>
	<h2>
		Imamu is the best place to purchase fermented food made by certified experts in the New York community.
	</h2>

	<div class="row">
		<div class="col-sm-4 col-md-4 text-center product-icon">
			<div>
				<img class="center-block valign" src="images/inspected-kitchen.png"/>
			</div>
			<p>Certified Kitchens</p>
			<p>Every item in the Imamu Market is produced in a certified kitchen in New York City.</p>
		</div>
		<div class="col-sm-4 col-md-4 text-center product-icon">
			<div>
				<img class="center-block valign" src="images/imamu-guarantee.png"/>
			</div>
			<p>Imamu 50k Guarantee</p>
			<p>All Imamu Sellers have been properly trained, licensed, and insured by New York State.</p>
		</div>
		<div class="col-sm-4 col-md-4 text-center product-icon">
			<div>
				<img class="center-block valign" src="images/icon-ingredients.png"/>
			</div>				
			<p>Verified Sourcing of Ingredients</p>
			<p>All ingredients are sourced from a verified list of local producers in the greater New York Area.</p>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
	            <img class="img-responsive" src="images/pl-yogurt.jpg"/>
	            <img class="small-seller-profile-pic img-responsive" src="images/sarah.jpg"/>
	        </div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Yogurt'})" href="#/market/yogurt" role="button">Buy</a></p>  
				<h4>Sarah's Yogurt</h4>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
	            <img class="img-responsive" src="images/pl-pickles.jpg"/>
	            <img class="small-seller-profile-pic img-responsive" src="images/mica.jpg"/>
	        </div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Pickles'})" href="#/market/pickles" role="button">Buy</a></p>  
				<h4>Mica's Pickles</h4>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
            	<img class="img-responsive" src="images/pl-kimchi.jpg"/>
            	<img class="small-seller-profile-pic img-responsive" src="images/zoe.jpg"/>
            </div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Kimchi'})" href="#/market/kimchi" role="button">Buy</a></p>  
				<h4>Zoe's Kimchi</h4>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
				<img class="img-responsive" src="images/pl-kombucha.jpg"/>
				<img class="small-seller-profile-pic img-responsive" src="images/ben.jpg"/>
			</div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Kombucha'})" href="#/market/kombucha" role="button">Buy</a></p>  
				<h4>Ben's Kombucha</h4>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
            	<img class="img-responsive" src="images/pl-cider.jpg"/>
            	<img class="small-seller-profile-pic img-responsive" src="images/kirk.jpg"/>
            </div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Cider'})" href="#/market/cider" role="button">Buy</a></p>  
				<h4>Kirk's Cider</h4>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
            	<img class="img-responsive" src="images/pl-cheese.jpg"/>
            	<img class="small-seller-profile-pic img-responsive" src="images/joyce.jpg"/>
            </div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Cheese'})" href="#/market/cheese" role="button">Buy</a></p>  
				<h4>Joyce's Cheese</h4>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
            	<img class="img-responsive" src="images/pl-kefir.jpg"/>
            	<img class="small-seller-profile-pic img-responsive" src="images/jeremy.jpg"/>
            </div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Kefir'})" href="#/market/kefir" role="button">Buy</a></p>  
				<h4>Jeremy's Kefir</h4>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
            	<img class="img-responsive" src="images/pl-tempeh.jpg"/>
            	<img class="small-seller-profile-pic img-responsive" src="images/megan.jpg"/>
            </div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Tempeh'})" href="#/market/tempeh" role="button">Buy</a></p>  
				<h4>Megan's Tempeh</h4>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 item-listing">
			<div class="market-products-image-wrapper">
            	<img class="img-responsive" src="images/pl-sauerkraut.jpg"/>
            	<img class="small-seller-profile-pic img-responsive" src="images/luke.jpg"/>
            </div>
			<div>
				<p><a class="btn btn-default" ng-click="trackEvent('Market Product Linked Clicked', {destination: 'Sauerkraut'})" href="#/market/sauerkraut" role="button">Buy</a></p> 
				<h4>Luke's Sauerkraut</h4>
			</div>
		</div>
	</div>				
</div>
<div ng-include src="'/templates/footer.html'"></div>
