<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/sub">
        <img src="images/imamu.png"/>
      </a>
    </div>

  </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbosub">
      <div class="container">
        <row>
          <div class="col-sm-12 col-md-8">
            <h1>
            Everything you need to create a new probiotic healthy food every month
            </h1>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="pricewrapper">
              <div class="jumbosignup">
                <div>
                  Enter your email to reserve your box and receive
                  <span class="highlight">20% off</span>!
                  <form>
                  <input class="form-control market-email-input" placeholder="EMAIL ADDRESS" type="email" ng-model="user.email" >
                  <input type="submit" class="btn btn-default btn-sub-jumbo-signup" ng-click="userAction(user, 'Subscription ReservedWithEmail')">
                </form>
              </div>
              </div>
              <p>Starting at $19 / month</p>
            </div>
          </div>          
        </row>

        <!--  
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p>Imamu is a monthly box with farm sourced ingredients, starter culturs, and anything else you need to create amazing probiotic-rich dishes at home</p>
                 
          </div>
          <div class="col-sm-12 col-md-6 sub-jumbotron-signup" >
            <p><a class="btn btn-primary btn-lg big-signup-button" ng-click="trackEvent('Go To Sub Signup', {destination: 'Signup'})" href="#/signup" role="button">Get Started!</a></p>
          </div>
        </div>
        -->
      </div>
    </div>
    <div class="sub-sub-head">
      <div class="container">
         <p>Imamu is a monthly box with farm sourced ingredients, fermentation starter culture, containers, and anything else you need to create amazing probiotic-rich dishes at home</p>
      </div>
    </div>
  
  <div class="container sub">
    <div class="text-center sub-header">
      <h2>
        Here's how it works 
      </h2>
      <p>Fresh, local ingredients. High quality cookware. Delivered to your door.</p>
    </div>  
    <div class="row">
      <div class="col-sm-4 col-md-4 text-center product-icon">
        <div>
          <img class="center-block valign" src="images/s-like.png"/>
        </div>
        <p>Tell us what you like</p>
        <p>Don't like kombucha? Not into tempeh? No problem, we've got options.</p>
      </div>
      <div class="col-sm-4 col-md-4 text-center product-icon">
        <div>
          <img class="center-block valign" src="images/s-plan.png"/>
        </div>
        <p>Choose a plan</p>
        <p>1, 6, or 12 month plans available. Cancel any time. Free shipping.</p>

      </div>
      <div class="col-sm-4 col-md-4 text-center product-icon">
        <div>
          <img class="center-block valign" src="images/icon-delivery.png"/>
        </div>        
        <p>Get box</p>
        <p>Your imamu box is delivered on the first of every month. You'll be creating delicious food in no time!</p>
      </div>
      <p class="text-center"><a class="btn btn-primary btn-lg" ng-click="trackEvent('Go To Sub Signup', {destination: 'Signup'})" href="#/signup" role="button">GET COOKING &raquo;</a></p>
    </div>
  </div>
    <hr/>

  <div class="container sub">
    <div class="text-center sub-header">
      <h2>
        What's in an Imamu box? 
      </h2>
      <p>Everything you need to make healthy fermented food at home</p>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-sm-6 col-md-6 text-center">
        <div>
          <img class="img-responsive center-block" src="images/box-no-bg.png"/>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 text-left box-list">
       <div class="row">
         <div class="col-xs-3 col-sm-3 col-md-3 text-center">
            <img class="" src="images/s-ingredients.png"/>
         </div>
         <div class="col-xs-9 col-sm-9 col-md-9">
            <div>Locally sourced ingredients</div>
         </div>
       </div>

        <div class="row">
         <div class="col-xs-3 col-sm-3 col-md-3 text-center">
            <img class="" src="images/s-starter.png"/>
         </div>
         <div class="col-xs-9 col-sm-9 col-md-9">
            <div>Quality starter culture</div>
         </div>
       </div>

        <div class="row">
         <div class="col-xs-3 col-sm-3 col-md-3 text-center">
            <img class="" src="images/s-jar-icon.png"/>
         </div>
         <div class="col-xs-9 col-sm-9 col-md-9">
            <div>Perfect containers and tools</div>
         </div>
       </div>

        <div class="row">
         <div class="col-xs-3 col-sm-3 col-md-3 text-center">
            <img class="" src="images/s-recipe.png"/>
         </div>
         <div class="col-xs-9 col-sm-9 col-md-9">
            <div>Easy to follow step by step instructions</div>
         </div>
       </div>              
      </div>
    </div>
    <p class="text-center sub-button"><a class="btn btn-primary btn-lg" ng-click="trackEvent('Go To Sub Signup', {destination: 'Signup'})" href="#/signup" role="button">GET STARTED &raquo;</a></p>
  </div>
  
  <hr/>
  
  <div class="container sub">
    <div class="text-center sub-header">
      <h2>
        What's cooking? 
      </h2>
      <p>Every month is a new recipe. Here are some recent examples:</p>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-sm-4 col-md-4 text-center">
        <div>
          <img class="img-responsive center-block" src="images/m-kimchi.jpg"/>
        </div>
        <p class="sub-caption">Kimchi-jjigae</p>
      </div>
      <div class="col-sm-4 col-md-4 text-center">
        <div>
          <img class="center-block img-responsive" src="images/m-raita.jpg"/>
        </div>
        <p class="sub-caption">Spicy raita</p>
      </div>
      <div class="col-sm-4 col-md-4 text-center">
        <div>
          <img class="center-block img-responsive" src="images/m-pickles.jpg"/>
        </div>        
        <p class="sub-caption">Chili dill pickles</p>
      </div>
    </div>
    <p class="text-center sub-button"><a class="btn btn-primary btn-lg" ng-click="trackEvent('Go To Sub Signup', {destination: 'Signup'})" href="#/signup" role="button">SIGN UP &raquo;</a></p>
  </div>


  <div class="inbox" style="background:#6F6664;">
    <div class="container sub">
      <div class="text-center sub-header">
        <h2>
          What are people saying? 
        </h2>
        <p>Testimonials from our community</p>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <img class="img-circle img-responsive seller-photo" src="images/m-kim.jpg"/>
          <span class="valign">"I like to know what goes into the food I feed my family. With Imamu, I can be sure that we're eating healthy and delicious food!"</span>
        </div>
        <div class="col-sm-6 col-md-6">
          <img class="img-circle img-responsive seller-photo" src="images/m-pip.jpg"/>
          <span class="valign">"Imamu has really demystified the fermentation process for me. It's always a great surprise to see what the next month's box will bring!"</span>
        </div>
      </div>
      <p class="text-center sub-button"><a class="btn btn-primary btn-lg" ng-click="trackEvent('Go To Sub Signup', {destination: 'Signup'})" href="#/signup" role="button">JOIN IN &raquo;</a></p>
    </div>
  </div>
 <footer class="sub-footer">
  <p>&copy; 2016 Imamu</p>
</footer>

